<h1>Add a job</h1>

<!-- this comment will show up -->
<%# this comment will not show up %>

<%= form_for @job do |f| %>
  <p>
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description, size: '60x6' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>